<% if true %>
<!-- BEGIN SIDEBAR -->
<div class="sidebar col-md-3 col-sm-4">
<%= image_tag('demo.png', width: 262, height: 300) %>
</div>
<!-- END SIDEBAR -->
<% end %>
<% if false %>
        <div class="sidebar-products clearfix">
          <h2>畅销商品</h2>
          <div class="item">
            <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/k1.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="javascript: void(0);">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$31.00</div>
          </div>
          <div class="item">
            <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/k4.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="javascript: void(0);">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$23.00</div>
          </div>
          <div class="item">
            <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/k3.jpg" alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a href="javascript: void(0);">Some Shoes in Animal with Cut Out</a></h3>
            <div class="price">$86.00</div>
          </div>
        </div>
<% end %>
