<!-- BEGIN SIDEBAR -->
<div class="sidebar col-md-3 col-sm-4">
  <ul class="list-group margin-bottom-25 sidebar-menu">
    <% Category.top_category.each do |top_category| %>
    <li class="list-group-item clearfix dropdown">
      <a href="javascript: void(0);" role="category_nav_btn">
        <i class="fa fa-angle-right"></i>
        <%= top_category.name %>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <% top_category.children.each do |category| %>
        <li><a href="/items/category?category_id=<%= category.id.to_s %>"><i class="fa fa-angle-right"></i> <%= category.name %></a></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
<!-- END SIDEBAR -->