<h1>修改密码</h1>
<%= form_tag(update_password_admin_user_path(current_user), method: "post") do |f| %>
原密码：<input type="password" name="current_password" />
新密码：<input type="password" name="new_password" />
确认新密码：<input type="password" name="confirm_password" />
<input type="submit" value="登录" />
<% end %>